html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.container {
	height: 100%;
    display: flex;
}

.sidebar {
	vertical-align: top;
	height: 100%;
	width: 20%;
	overflow: auto;
    margin-left: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #E6EDFF;
}

.main {
	vertical-align: top;
	height: 100%;
	width: 80%;
	overflow: auto;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo__image {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.logo__image > img {
    margin: auto;
}

.logo__text {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}


.nav-menu {
    margin-bottom: 50px;
}

.nav-menu > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    text-align: center;
}

.nav-menu__item {
    display: flex;
    flex-direction: row;
    color: #7C8DB5;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
}

.nav-menu__image {
    height: 25px;
    width: 25px;
}

.nav-menu__text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 15px;
    width: 60%;
}

.nav-menu__expand {
    font-size: 16px;
}

.nav-menu__thumb {
    content: "";
    visibility: hidden;
    margin-left: auto;
    width: 0px;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #347AE2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

#checkout-number {
    font-size: 16px;
    color: #FF3B30;
}

.nav-menu__item:hover {
    color: #347AE2;
}

.nav-menu__item:hover .nav-menu__thumb {
    visibility: visible;
}

.bottom-menu {
    margin-top: auto;
    margin-bottom: 50px;
}

.bottom-menu > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    text-align: center;
}

.bottom-menu__item {
    display: flex;
    flex-direction: row;
    color: #7C8DB5;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.bottom-menu__image {
    height: 25px;
    width: 25px;
}

.bottom-menu__text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 15px;
    width: 60%;
}

.bottom-menu__thumb {
    content: "";
    visibility: hidden;
    margin-left: auto;
    width: 0px;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #347AE2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

.bottom-menu__item:hover {
    color: #347AE2;
}

.bottom-menu__item:hover .bottom-menu__thumb {
    visibility: visible;
}

.bottom-menu__item#logout {
    color: #FF3B30;
}

.bottom-menu__item#logout:hover {
    color: #ad2d26;
}
